body{
	background-color:#000099;
	
}

.wrapper{
	margin-top:5%;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	background-color:#FFFFFF;
	border-radius: 25px;
	padding:15px;
}
.centerMe{
	text-align:center;
	
}
